<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>H+ 后台主题UI框架 - Bootstrap3 Markdown编辑器</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="#springUrl('/resources/css/bootstrap.min.css?v=3.4.0')" rel="stylesheet">
    <link href="#springUrl('/resources/css/font-awesome.min.css?v=4.3.0')" rel="stylesheet">
    <link href="#springUrl('/resources/css/animate.min.css')" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="#springUrl('/resources/css/plugins/markdown/bootstrap-markdown.min.css')" />
    <link href="#springUrl('/resources/css/style.min.css?v=3.2.0')" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="#springUrl('/resources/css/plugins/webuploader/webuploader.css')">
    <link rel="stylesheet" type="text/css" href="#springUrl('/resources/css/demo/webuploader-demo.css')">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
		<form action="/whoops/home/updateSubmitPost" method="post" enctype="multipart/form-data" class="form-horizontal" name="commentForm">
				<div class="form-group">
                      <label class="col-sm-2 control-label">状态内容</label>

                                <div class="col-sm-10">
                                    <div class="ibox-content">
                                	<textarea name="content" data-provide="markdown" rows="5" aria-required="true" aria-invalid="false" class="valid" required="">$!post.content</textarea>
                                	<span class="help-block m-b-none">注意，不要使用输入框中的格式，比如加粗、斜体等</span>
                            		</div>
                                </div>
                 </div>
                 
                 <div class="form-group">
                                <label class="col-sm-2 control-label">赞的数量</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="likeNum" value="$!post.likeNum" aria-required="true" aria-invalid="true" class="error">
                                </div>
                 </div>
                 
                 <div class="form-group">
                                <label class="col-sm-2 control-label">踩的数量</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="dislikeNum" value="$!post.dislikeNum" aria-required="true" aria-invalid="true" class="error">
                                </div>
                 </div>
                
                 <div class="form-group">
                                <label class="col-sm-2 control-label">学校id</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="schoolId" value="$!post.schoolId" aria-required="true" aria-invalid="true" class="error">
                                </div>
                 </div>
                 
                 <div class="form-group">
                                <label class="col-sm-2 control-label">学校名称</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="nickName" value="$!post.nickName" aria-required="true" aria-invalid="true" class="error">
                                </div>
                 </div>
                 
                 <div class="form-group">
                                <label class="col-sm-2 control-label">经度</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="latitude" value="$!post.latitude" aria-required="true" aria-invalid="true" class="error">
                                </div>
                 </div>
                 
                 <div class="form-group">
                                <label class="col-sm-2 control-label">纬度</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="longitude" value="$!post.longitude" aria-required="true" aria-invalid="true" class="error">
                                </div>
                 </div>
                 <div class="form-group">
                                <label class="col-sm-2 control-label">活动ID</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="activityId" value="$!post.activityId" aria-required="true" aria-invalid="true" class="error">
                                </div>
                 </div>
                 
                <input type="hidden" name="id" value="$!post.id"> 
                <input type="hidden" name="key" value="$!key"> 
                 <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                 </div>
            </form>          
    </div>

    <!-- 全局js -->
    <script src="#springUrl('/resources/js/jquery-2.1.1.min.js')"></script>
    <script src="#springUrl('/resources/js/bootstrap.min.js?v=3.4.0')"></script>

    <!-- 自定义js -->
    <script src="#springUrl('/resources/js/content.min.js?v=1.0.0')"></script>

    <!-- simditor -->
    <script type="text/javascript" src="#springUrl('/resources/js/plugins/markdown/markdown.js')"></script>
    <script type="text/javascript" src="#springUrl('/resources/js/plugins/markdown/to-markdown.js')"></script>
    <script type="text/javascript" src="#springUrl('/resources/js/plugins/markdown/bootstrap-markdown.js')"></script>
    <script type="text/javascript" src="#springUrl('/resources/js/plugins/markdown/bootstrap-markdown.zh.js')"></script>
	<!-- jQuery Validation plugin javascript-->
    <script src="#springUrl('/resources/js/plugins/validate/jquery.validate.min.js')"></script>
    <script src="#springUrl('/resources/js/plugins/validate/messages_zh.min.js')"></script>
   
    <script>
      
	        $().ready(function(){
	        	$("#commentForm").validate(
	        	{debug:true});
	        })
    </script>

	
	
 
</body>

</html>